<ion-view view-title="{{title}}">
  <ion-content class="padding">
   <h1></h1>
   <div class="list list-inset">
   <!-- <form ng-submit="sendSMS()">
    <label class="item item-input">
      <input type="tel" name="mobileNumber" id="mobileNumber"  placeholder="Mobile Number"/>
    </label>
    <label class="item item-input">
      <textarea name="message" id="message"  placeholder="Message"></textarea>
    </label>
    <label  class="item item-input">
    
    </label>
   </form> -->

   <!-- <input type="button" name="submit" value="Get Tickets" class="button button-full button-positive" ng-click="getTickets()" /> -->
   
   <div class="info" id="info"></div>

    <button class="button button-medium button-assertive ion-alert" ng-click="sendSMS()"> SOS </button> <br/><br/>
    <ul class="list">
      <li class="item item-icon-left"><i class="icon ion-wifi"></i> <span ng-show="{{wifiEnabled}}">Disabled...</span>
                        <span ng-show="{{!wifiEnabled}}">Enabled...</span>
      </li>
      <li class="item item-icon-left"><i class="icon ion-location"></i> Unknown</li>
      <li class="item item-icon-left"><i class="icon ion-battery-charging"></i> Unknown</li>
      <li class="item item-icon-left"><i class="icon ion-connection-bars"></i> Unknown</li>
    </ul>
   </div>
  </ion-content>
</ion-view>
