<ion-view view-title="{{title}}">
  <ion-content class="padding">
   <h1></h1>
   <div class="list list-inset">
   <!-- <form ng-submit="sendSMS()">
    <label class="item item-input">
      <input type="tel" name="mobileNumber" id="mobileNumber"  placeholder="Mobile Number"/>
    </label>
    <label class="item item-input">
      <textarea name="message" id="message"  placeholder="Message"></textarea>
    </label>
    <label  class="item item-input">
    <input type="submit" name="submit" value="Send SMS" class="button button-full button-positive" />
    </label>
   </form> -->
   <div class="info" id="info">
      
   </div>
  </ion-content>
</ion-view>
