<ion-view view-title="{{title}}">
  <ion-content class="padding">
   <h1></h1>
   <div class="list list-inset">
   <!-- <form ng-submit="sendSMS()">
    <label class="item item-input">
      <input type="tel" name="mobileNumber" id="mobileNumber"  placeholder="Mobile Number"/>
    </label>
    <label class="item item-input">
      <textarea name="message" id="message"  placeholder="Message"></textarea>
    </label>
    <label  class="item item-input">
    
    </label>
   </form> -->

   <!-- <input type="button" name="submit" value="Get Tickets" class="button button-full button-positive" ng-click="getTickets()" /> -->
   
   <div class="info" id="info">
    <ul>
      <li>Wifi Status : <span ng-show="{{wifiEnabled}}">Disabled...</span>
                        <span ng-show="{{!wifiEnabled}}">Enabled...</span>
      </li>  
    </ul>
   </div>
  </ion-content>
</ion-view>
